footer.by-lemon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: $white;
  font-size: 13px;
  p {
    margin: 0;
  }
  a {
    color: $yellow;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
