main.error-404 {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #ff321c;
  // background-image: url(../img/background_tile.png);
  background-color: #007174;
  background-repeat: repeat;
  background-position: center;
  font-size: 15px;

  .inside {
    display: grid;
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-bottom: 20px;
    //padding: 10vw 20px 20px 20px;
  }
  aside {
    position: relative;
    // z-index: 2;
    img.leopard {
      position: relative;
      z-index: 3;
    }
    .eyeball {
      width: 6%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      //opacity: 0.5;
      background-color: white;
      // opacity: 0.4;
      z-index: 1;
      &.left {
        top: 39%;
        left: 35%;
        width: 8%;
        //background-color: red;
      }
      &.right {
        top: 38.3%;
        left: 63.4%;
        width: 6.4%;
        //background-color: red;
        //z-index: 6;
      }
      .pupil {
        position: absolute;
        width: 44%;
        aspect-ratio: 1/1;
        transform-origin: center center;
        border-radius: 50%;
        background-color: #101010;
        &.left {
          top: 50%;
          left: 50%;
          margin-top: -20%;
          margin-left: -20%;
          animation: circleRotate 0.65s linear infinite;
        }
        &.right {
          top: 50%;
          left: 50%;
          margin-top: -26%;
          margin-left: -26%;
          animation: circleRotate 0.7s linear infinite reverse;
        }
      }
    }
  }
  // aside {
  //   //padding-top: 20px;
  //   img {
  //     aspect-ratio: 1/1;
  //     position: relative;
  //     z-index: 2;
  //   }
  // }
  // article {
  //   background-color: $white;
  //   padding: 2rem;

  //   border: 2px solid $yellow;
  //   filter: drop-shadow(-4px 4px 0 $green);
  //   p:last-child {
  //     margin-bottom: 0;
  //   }
  // }
}

@media (min-width: 821px) {
  main.error-404 {
    padding-top: 6vw;
    .inside {
      grid-template-columns: 4fr 3fr;
      // max-width: calc(320px + 72ch);
    }
    aside {
      img {
        width: 100%;
      }
    }
    figure.bubble-holder {
      animation: gentleFloat 4s ease-in-out infinite;
      padding-bottom: 6em;
    }

    .bubble-404 {
      position: relative;
      transform-origin: bottom left;
      transform: translate(-30%, 30%) scale(1.3);
    }
    h2 {
      color: $white;
      font-size: 2.15rem;
    }
    a {
      color: $yellow;
    }
  }
}

@media (max-width: 820px) {
  main.error-404 {
    padding-top: 10px;
    aside {
      display: flex;
      justify-content: start;
      img {
        max-width: 200px;
      }
    }
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0deg) translateY(-15px);
  }
  100% {
    transform: rotate(360deg) translateY(-15px);
  }
}
