main.about {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff321c;
  background-image: url(../img/background_tile.png);
  background-repeat: repeat;
  background-position: center;
  font-size: 15px;

  .inside {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    //padding: 10vw 20px 20px 20px;
  }
  aside {
    //padding-top: 20px;
    img {
      border-radius: 50%;
      aspect-ratio: 1/1;
      filter: drop-shadow(4px 4px 0 $green);
      position: relative;
      z-index: 2;
    }
  }
  article {
    background-color: $white;
    padding: 2rem;

    border: 2px solid $yellow;
    filter: drop-shadow(-4px 4px 0 $green);
    p:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 821px) {
  main.about {
    padding-top: 6vw;
    .inside {
      grid-template-columns: 1fr 72ch;
      gap: 10px;
      max-width: calc(320px + 72ch);
    }
    aside {
      img {
        width: 100%;
        transform: translate(25px, 24px);
      }
    }
  }
}

@media (max-width: 820px) {
  main.about {
    padding-top: 10px;
    aside {
      display: flex;
      justify-content: start;
      img {
        max-width: 200px;
        transform: translate(25px, 24px);
      }
    }
  }
}
