main.home {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff321c;
  background-image: url(../img/background_tile.png);
  background-repeat: repeat;
  background-position: center;
}
nav.home {
  // aspect-ratio: 16/9;
  // width: 100%;
  // max-height: 80dvh;\
  //background-color: lime;
  aspect-ratio: 16/9;
  //max-width: 99dvw;
  position: relative;

  img {
    &.composed {
      display: block;
    }
    &.absolute {
      position: absolute;
    }
    &.tigerhead {
      width: 43%;
      left: 9%;
      top: 13%;
    }
    &.nbsh {
      width: 98%;
      left: 1%;
      top: 2%;
    }
    &.dynamoe {
      width: 37%;
      left: 49%;
      top: 23%;
      transform-origin: bottom left;
      animation: floatBounce 2.8s ease-in-out infinite;
    }
  }
  .eyeball {
    width: 2.8%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    &.left {
      top: 51.1%;
      left: 26.75%;
    }
    &.right {
      top: 46.3%;
      left: 40.4%;
    }
    .pupil {
      position: absolute;
      width: 32%;
      aspect-ratio: 1/1;
      top: 5px;
      right: 10px;
      transform-origin: 1px;
      border-radius: 50%;
      background-color: #101010;
      transition: transform 0.15s ease-out;
      &.left {
        top: 11px;
        right: 9px;
      }
      &.right {
        top: 9px;
        right: 16px;
      }
    }
    .shine {
      position: absolute;
      width: 32%;
      aspect-ratio: 1/1;
      background-color: white;
      opacity: 0.65;
      border-radius: 50%;
      &.left {
        top: 16%;
        right: 3%;
      }
      &.right {
        top: 5%;
        right: 38%;
      }
    }
  }
  .nav-item {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: scale 0.3s ease-in-out, filter 0.3s linear;
    &.about {
      width: 36%;
      left: 50%;
      top: 23%;
      background-image: url(../svg/dynamoe.svg);
      transform-origin: bottom left;
      aspect-ratio: 77/62;
      transform-origin: bottom left;
      animation: floatBounce 2.8s ease-in-out infinite;
      a {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        top: 0%;
        width: 90%;
        height: 59%;
        opacity: 0.5;
        // background-color: lime;
        border-radius: 40%;
      }
    }
    &.portfolio {
      width: 44%;
      left: 48%;
      top: 56.5%;
      background-image: url(../svg/portfolio.svg);
      transform-origin: bottom left;
      animation: floatSway 3.5s ease-in-out infinite 0.5s;
      aspect-ratio: 541/174;
      a {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 54%;
        height: 85%;
        // opacity: 0.5;
        // background-color: lime;
        border-radius: 40%;
      }
    }
    &.store {
      width: 30%;
      left: 48%;
      top: 82%;
      background-image: url(../svg/store.svg);
      aspect-ratio: 296/93;
      transform-origin: top left;
      animation: floatWobble 4.2s ease-in-out infinite 1s;
      a {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        top: 2%;
        width: 60%;
        height: 96%;
        // opacity: 0.5;
        // background-color: lime;
        border-radius: 40%;
      }
    }
    &.contact {
      width: 15%;
      left: 10%;
      top: 87%;
      background-image: url(../img/contact.png);
      animation: floatDip 3.3s ease-in-out infinite 0.8s;
      aspect-ratio: 296/93;
      &:hover {
        scale: 1.1;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
      }
    }

    &:has(a:hover) {
      scale: 1.1;
      filter: drop-shadow(-3px -3px 5px rgba(0, 0, 0, 0.5));
    }
  }
}

@media (min-width: 1300px) {
  nav.home {
    height: 750px;
    max-height: 80dvh;
  }
}
@media (max-width: 1299px) {
  nav.home {
    width: 99.9dvw;
  }
}
