- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      header
        img.nbsh.absolute(src="svg/nbsh.svg", alt="NobodysSweetheart.com")
      main
        nav
          img.composed(src="img/composed.png",)
          img.tigerhead.absolute(src="img/tigerhead.png" alt="Tiger Head")
          .eyeball.left
            .pupil.left#leftPupil
          .eyeball.right
            .pupil.right#rightPupil
          img.dynamoe.absolute(src="img/dynamoe.png", alt="Dyna Moe: Illustration/Comedy")
          .nav-item.portfolio
            a(href="https://www.behance.net/nobodyssweetheart" aria-label="Portfolio")
          .nav-item.store
            a(href="https://nobodyssweetheart.bigcartel.com/" aria-label="Store")
          a.nav-item.contact(href="mailto:nobodyssweetheart@gmail.com" aria-label="Contact")

    include partials/_javascripts