- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      header
        img.nbsh.absolute(src="img/nbsh.png", alt="NBSH Logo")
      main
        nav
          img.composed(src="img/composed.png", alt="Composed Logo")
          img.tigerhead.absolute(src="img/tigerhead.png")
          img.dynamoe.absolute(src="img/dynamoe.png", alt="Dynamo Eye Logo")
          a.portfolio(href="https://www.behance.net/nobodyssweetheart")
          a.store(href="https://nobodyssweetheart.bigcartel.com/")
          a.contact(href="mailto:nobodyssweetheart@gmail.com")

    include partials/_javascripts